body{
    padding: 0px;
    margin: 0px;
    background-image: url(kay.gif);
    background-size: 252px;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
    margin: auto;
}

.container .relleno{
    border: 3px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fdfcdc;
    text-align: center;
}